
/* Scrollbar personalizada */
::-webkit-scrollbar {
  
}

::-webkit-scrollbar-track {
  background: #050b1a;
}

::-webkit-scrollbar-thumb {
  background: #0e1a2b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a2a3d;
}

/* Estilo para la clase .custom-scroll que usamos arriba */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #1e293b; /* Slate 800 */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #0891b2; /* Cyan 600 */
}